@media (max-width: 576px) {
    .header {
        display: none;
    }

    .mobile-header {
        display: block !important;
        padding: 15px 0 16px;
        margin-top: 10px;
        height: 55px;


        .mb-header-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .hamburger {
                margin-right: 35px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: #f5f5f6;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                i {
                    color: #000;
                }
            }

            .mb-header-logo {
                img {
                    width: 29px;
                    height: 30px;
                }
            }

            .mb-header-right {
                background: #f5f5f6;
                border: none;
                line-height: 45px;
                display: inline-flex;
                align-items: center;
                height: 45px;
                padding: 8px 20px;
                border-radius: 25px;

                span {
                    font-family: CocoSharp, Arial;
                    font-weight: 700;
                    font-size: 14px;
                    color: #000 !important;
                }

                i {
                    color: #ff6b00;
                }
            }
        }
    }


    .mobile-menu {
        background: #fafafa;
        height: calc(100vh - 55px);

        .mb-menu-wrapper {
            flex-direction: column;
            margin-top: 15px;
            padding-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mb-menu-options {
                transform: scale(1) translateY(0);
                opacity: 1;
                transition-delay: 70ms;
                margin-bottom: 20px;
                display: inline-flex;
                line-height: 20px;
                font-family: CocoSharp, Arial;
                font-weight: 400;
                font-size: 20px;
                box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
                border-radius: 5px;
                overflow: hidden;
                height: 35px;
                transition: transform .5s cubic-bezier(.4, .01, .165, .99), opacity .6s cubic-bezier(.4, .01, .165, .99), -webkit-transform .5s cubic-bezier(.4, .01, .165, .99);

                .option-active {
                    opacity: 1;
                    font-weight: 600;
                    color: #FF7A00 !important;
                    border-radius: 5px;
                    border: 1px solid #FF7A00 !important;
                }

                .mb-menu-option {
                    line-height: 12px;
                    font-family: CocoSharp, Arial;
                    font-weight: 400;
                    font-size: 12px;
                    color: #323232;
                    background: #fff;
                    padding: 10px 20px;
                    border: 1px solid transparent;
                }
            }

            .mb-menu-menus {
                width: 100%;
                text-align: center;

                .menu-link {
                    transform: scale(1) translateY(0);
                    opacity: 1;
                    transition: transform .5s cubic-bezier(.4, .01, .165, .99), opacity .6s cubic-bezier(.4, .01, .165, .99), -webkit-transform .5s cubic-bezier(.4, .01, .165, .99);
                    font-size: 20px;
                    display: block;
                    color: #000;
                    line-height: 18px;
                    font-family: CocoSharp, Arial;
                    font-weight: 700;
                    padding: 10px 0;
                    border-bottom: 1px solid rgba(255, 255, 255, .2);
                }

                &:nth-child(1) {
                    transition-delay: .21s;
                }

                &:nth-child(2) {
                    transition-delay: .28s;
                }

                &:nth-child(3) {
                    transition-delay: .35s;
                }

                &:nth-child(1) {
                    transition-delay: .42s;
                }

                &:nth-child(5) {
                    transition-delay: .49s;
                }

                &:nth-child(6) {
                    transition-delay: .56s;
                }
            }

            .mb-menu-second-menus {
                transform: scale(1) translateY(0);
                opacity: 1;
                transition-delay: .56s;
                transition: transform .5s cubic-bezier(.4, .01, .165, .99), opacity .6s cubic-bezier(.4, .01, .165, .99), -webkit-transform .5s cubic-bezier(.4, .01, .165, .99);
                width: 100%;
                text-align: center;

                a {
                    border: none;
                    color: rgba(0, 0, 0, .4);
                    border-radius: 0;
                    border-bottom: 1px solid rgba(255, 255, 255, .2);
                    display: block;
                    margin: 0;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 12px 0;
                }
            }

            .mb-menu-footer {
                transform: scale(1) translateY(0);
                opacity: 1;
                transition-delay: .14s;
                transition: transform .5s cubic-bezier(.4, .01, .165, .99), opacity .6s cubic-bezier(.4, .01, .165, .99), -webkit-transform .5s cubic-bezier(.4, .01, .165, .99);
                text-align: center;

                .top-mode {
                    padding: 0 10px;
                    display: inline-flex;
                    border-radius: 5px;
                    box-shadow: 0 2px 14px -10px rgba(0, 0, 0, .3);
                    background-color: #323232;
                    height: 35px;
                    justify-content: center;
                    align-items: center;
                }

                .top-search {
                    margin-left: 10px;
                    cursor: pointer;
                    box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
                    width: 35px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    background: #fff;
                    border-radius: 5px;

                    i {
                        color: #323232;
                    }
                }

                .top-basket {
                    margin-left: 10px;
                    box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
                    width: 35px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    background: #fff;
                    border-radius: 5px;

                    i {
                        color: #323232;
                        position: relative;

                        #count {
                            position: absolute;
                            font-size: 12px;
                            background-color: #F28C0D;
                            color: #ffffff;
                            padding: 4px 6px;
                            border-radius: 100%;
                            top: -18px;
                            right: -11px;
                        }
                    }
                }

                .top-langs {
                    display: inline-flex;
                    align-items: center;
                    border-radius: 5px;
                    height: 35px;
                    margin-left: 10px;

                    .lang-eng,
                    .lang-rus {
                        line-height: 12px;
                        font-weight: 600;
                        font-size: 12px;
                        box-shadow: 0 2px 14px -10px rgba(0, 0, 0, .3);
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                        color: #323232;
                        padding: 0 8px;
                        margin-right: 10px;
                        height: 35px;
                        background: #fff;
                        border-radius: 5px;
                        font-family: CocoSharp, Arial;
                    }
                }
            }
        }
    }


    //Slider
    .slider {
        margin-top: 16px;
    }

    //Statistic section 

    .statistic {
        .statistic-box {
            padding: 25px 0;

            .statistic-caption {
                font-size: 14px;
            }

            .statistic-value {
                font-size: 32px;
            }

            .statistic-desc {
                font-size: 10px;
                margin-bottom: 20px;
            }
        }
    }


    //Ucard section

    .ucard-wrapper {
        display: block !important;

        .ucard {
            height: 170px !important;
            width: auto !important;

            .ucard-img {
                width: auto;
                float: right !important;
                max-width: 90% !important;
                height: auto !important;
                right: 40px !important;
            }
        }

        .ucard-text {
            width: 100% !important;
            float: none;
            padding-right: 20px !important;
            padding-left: 30px !important;
            padding-top: 10px;
            margin-top: 20px !important;

            .ucard-header {
                font-size: 20px !important;
                line-height: normal !important;
                margin-bottom: 10px !important;
            }

            .ucard-desc {
                margin-bottom: 20px !important;
                font-size: 12px !important;
                line-height: normal !important;
            }

            .links {
                margin-bottom: 10px !important;
                display: flex;
                justify-content: space-between;

                a {
                    margin-right: 3px !important;

                    img {
                        width: 90px !important;
                        height: 25px !important;
                    }
                }
            }

            .ucard-extras {
                display: block !important;

                .btn-extra {
                    font-size: 12px !important;
                    padding: 14px 42px !important;
                    margin-bottom: 20px;
                }

                .fill-orange {
                    padding: 14px 140px !important;
                }
            }

            #ubank {
                .ubank-img {
                    width: 290px !important;
                    height: auto !important;
                }
            }
        }
    }

    // Ubank section
    .ubank-wrapper {
        display: block !important;

        .ubank {
            height: 170px !important;
            width: auto !important;

            .ubank-img {
                width: auto;
                float: right !important;
                max-width: 60% !important;
                height: auto !important;
                right: 40px !important;
                top: -51px !important;
            }
        }

        .ubank-text {
            width: 100% !important;
            float: none;
            padding-right: 20px !important;
            padding-left: 30px !important;
            padding-top: 10px;
            margin-top: 20px !important;

            .ubank-header {
                font-size: 20px !important;
                line-height: normal !important;
                margin-bottom: 10px !important;
            }

            .ubank-desc {
                margin-bottom: 20px !important;
                font-size: 12px !important;
                line-height: normal !important;
            }

            .links {
                margin-bottom: 10px !important;
                display: flex;
                justify-content: space-between;

                a {
                    margin-right: 3px !important;

                    img {
                        width: 90px !important;
                        height: 25px !important;
                    }
                }
            }

            .ubank-extras {
                display: block !important;

                .btn-extra {
                    font-size: 12px !important;
                    padding: 14px 42px !important;
                    margin-bottom: 20px;
                }

                // .fill-orange {
                //     padding: 14px 128px !important;
                // }
            }

            #ubank {
                .ubank-img {
                    width: 290px !important;
                    height: auto !important;
                }
            }
        }
    }

    //Exchange section

    .exchange-box-wrapper {
        display: none;
    }

    .exchange-wrapper {
        padding: 20px 30px !important;

        .exchange-header {
            font-size: 20px !important;
            line-height: normal;
            margin-bottom: 15px !important;
            font-weight: 800;
        }

        .exchange-box-wrapper-mobile {
            display: block !important;

            .exc-box-mob {
                display: block;
                width: auto;
                display: flex;
                align-items: flex-start;
                overflow-x: auto;

                .exc-item {
                    display: inline-block;
                    padding: 10px 20px;
                    margin-right: 10px;
                    font-family: CocoSharp, Arial;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: normal;
                    text-align: center;
                    white-space: nowrap;
                    color: #a1a1a1;
                    border-radius: 25px;
                    border: 2px solid #969696;
                }

                .exc-mob-active {
                    border: 2px solid #ff6400;
                    margin-bottom: 20px;
                    border-radius: 25px;
                    color: #ff6400 !important;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    position: relative;

                    &:after {
                        position: absolute;
                        bottom: -4px;
                        transform: rotateZ(-45deg) translate(-50%);
                        width: 16px;
                        height: 16px;
                        border-left: 2px solid #ff6400;
                        border-bottom: 2px solid #ff6400;
                        content: '';
                        left: 50%;
                        background: #fafafa;
                    }
                }
            }

            .exc-content-mob {
                margin-bottom: 20px;

                .exc-item-date {
                    padding-bottom: 30px;
                    height: auto;
                    font-size: 12px;
                    line-height: 18px;
                    color: rgba(50, 50, 50, .5);
                    margin-bottom: 30px;
                }

                .exc-item-body {
                    table {
                        width: 100%;

                        thead {
                            font-size: 14px;
                            color: #acb3b8;
                            line-height: 18px;
                            text-align: left;
                            font-weight: 400;
                            font-family: CocoSharp, Arial;

                            tr {
                                th {
                                    border-bottom: 1px solid #d6d9db;
                                    padding-bottom: 11px;
                                    width: 33.3333333%;
                                    font-size: 12px;
                                    font-weight: 400 !important;
                                    padding-right: 60px !important;
                                }
                            }
                        }

                        tbody {
                            line-height: 14px;
                            font-family: CocoSharp, Arial;
                            font-weight: 400;
                            font-size: 14px;
                            color: #000;

                            tr {
                                td {
                                    width: 33.3333333%;
                                    padding: 15px 0;
                                    white-space: nowrap;
                                    color: #323232;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }

            .exc-convertor {
                height: auto;
                margin-bottom: 20px;
                background: #fff;
                box-shadow: 0 10px 25px -10px rgba(0, 0, 0, .1);
                padding: 50px 30px;
                border-radius: 10px;

                .exc-header {
                    line-height: 18px;
                    font-family: CocoSharp, Arial;
                    font-weight: 700;
                    font-size: 18px;
                    color: #000;
                    padding-bottom: 10px;
                }

                .exc-date {
                    padding-bottom: 30px;
                    height: auto;
                    font-size: 12px;
                    line-height: 18px;
                    color: rgba(50, 50, 50, .5);
                }

                .exc-calc {
                    overflow: hidden;
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 1px solid rgba(50, 50, 50, .1);
                    margin-bottom: 10px;
                    float: left;
                    width: 100%;
                    margin-right: 0;

                    .exc-calc-inp {
                        width: 60%;
                        border: none;
                        background: 0 0;
                        font-family: CocoSharp, Arial;
                        font-weight: 700;
                        font-size: 15px;
                        color: #000;
                        line-height: 47px;
                    }

                    .exc-calc-inp {
                        display: inline-block;
                        padding-right: 25px;
                        position: relative;

                        .select-inp {
                            z-index: 1;
                            border: none;
                            background: 0 0;
                            appearance: none;
                            padding-right: 12px;
                            font-family: CocoSharp, Arial;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 47px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }



    //News section



    //Network section

    .network-location-img {
        width: 40% !important;

        img {
            height: 200px !important;
        }
    }

    .network-header {
        font-size: 20px !important;
        line-height: 28px !important;
    }

    .network-summary {
        width: 70% !important;
        font-size: 12px !important;
    }

    .network-btn {
        padding: 13px 35px !important;
        line-height: normal !important;
        font-size: 12px !important;
    }

    //Footer section

    .footer {
        padding: 0 !important;

        .footer-menu,
        .footer-bottom {
            display: none !important;
        }

        .footer-links {
            display: flex;
            justify-content: center;
        }
    }


    // Cards
    .cards-wrapper {
        margin-top: 20px;

        .cards-header {
            font-size: 22px;
            line-height: normal;
        }

        .ucard {
            padding: 30px 40px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 10px;
            flex-direction: column;

            .ucard-img-box {
                max-width: 100%;
                width: 100% !important;
                margin-bottom: 20px;
                position: relative;
                min-height: 1px;
                padding: 0;

                img {
                    max-width: 100% !important;
                }
            }

            .ucard-text {
                width: 100%;
                padding: 0;

                .ucard-header {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 0;

                    .ucard-title {
                        font-size: 18px;
                        margin-bottom: 0;
                    }

                    .ucard-btn-desk {
                        display: none;
                    }
                }

                .ucard-desc {
                    text-align: center;
                    font-family: CocoSharp, Arial;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: normal;
                }

                .ucard-adv {
                    width: calc(100%/3);
                    flex-direction: column;
                    margin-bottom: 20px;
                    align-items: center;

                    .ucard-adv-txt {
                        text-align: center;
                        line-height: 12px;
                        font-family: CocoSharp, Arial;
                        font-weight: 700;
                        font-size: 12px;
                        color: #000;
                    }
                }

                .ucard-btn-mob {
                    display: block;
                    display: inline-block;
                    padding: 14px 30px;
                    font-size: 14px;
                    line-height: 14px;
                    background: #ff6400;
                    border-radius: 25px;
                    box-shadow: 0 10px 10px -10px rgba(255, 107, 0, .51);

                    a {
                        color: #fff !important;
                        font-weight: 600;
                    }
                }
            }
        }

        .commoncards-card {
            width: 100%;
            padding: 25px 40px;
            margin-bottom: 10px;
            margin-top: 10px;
            align-items: center;

            .commoncards-img {
                width: auto;
                max-width: 100%;
                float: none;
                margin-bottom: 20px;
            }

            .commoncards-text {
                text-align: center;
                margin-top: 10px;

                p {
                    font-weight: 600;
                    font-family: CocoSharp, Arial;
                }
            }
        }
    }


    //Basket
    .empty-basket {
        margin-top: 20px;

        span {
            font-size: 11px;
            margin-left: 15px;
        }
    }

    .basket-card {
        padding: 30px 25px;

        .basket-card-header {
            .basket-card-title {
                font-weight: 600 !important;
                font-size: 14px !important;
            }

            .quantity,
            p,
            i {
                line-height: 30px;
            }
        }
    }

    .content-box {
        .buttons {
            flex-direction: column;

            button {
                margin-bottom: 20px;
            }

            #btn-continue {
                a {
                    padding: 14px 108px !important;
                }
            }
        }
    }


    //Locations

    .locations-wrapper {
        margin-top: 20px;

        .loc-header {
            h1 {
                font-size: 22px;
                line-height: normal;
            }

            .locations-links {
                width: auto !important;
                display: flex !important;
                align-items: flex-start !important;
                overflow-x: auto !important;

                .locations-item {
                    display: block;
                    margin-top: 0;
                    padding: 10px 20px;
                    margin-right: 10px;
                    font-family: CocoSharp, Arial;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: normal;
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }

        .content-wrapper {
            .content {
                flex-wrap: wrap;
                padding: 20px 40px;
                justify-content: space-between;

                .locations-name {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 10px;
                    border: none;
                    display: block;
                    font-size: 14px;

                    .address {
                        font-size: 12px;
                    }
                }

                .locations-extra {
                    width: 48%;
                    padding: 0;
                    border: none;
                    font-size: 10px;
                    line-height: normal;

                    .clock-icon {
                        margin-right: 10px;
                        font-size: 25px !important;
                    }

                    .info-box {
                        padding: 4px 8px;
                        margin-right: 10px;
                        border: 2px solid #FF6400;
                    }
                }
            }
        }

        #warning{
            padding: 20px 40px;
        }
    }
}