* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  line-height: 15px;
  font-weight: 400;
  font-size: 15px;
}
@font-face {
  font-family: CocoSharp, Arial;
  src: url(../fonts/Coco-Sharp-Regular-trial.ttf);
}

.wrapper {
  position: relative;
  z-index: 123;
  background: #FAFAFA;
}
.wrapper .header-top {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header-top .top-left {
  display: flex;
  align-items: center;
}
.wrapper .header-top .top-left .logo {
  transform: scale(0.9);
  transform-origin: left center;
  float: left;
  margin-right: 30px;
}
.wrapper .header-top .top-left .logo img {
  width: 27px;
  height: 28px;
}
.wrapper .header-top .top-left .top-menu .top-menu-link {
  display: inline-block;
  line-height: 12px;
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 12px;
  color: #323232;
  margin: 0 10px;
}
.wrapper .header-top .top-right .top-options {
  display: inline-flex;
  line-height: 20px;
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 20px;
  color: #FF7A00;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  height: 35px;
  background: #fff;
}
.wrapper .header-top .top-right .top-options .top-option {
  line-height: 12px;
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 12px;
  color: #323232;
  padding: 10px 20px;
}
.wrapper .header-top .top-right .top-options .option-active {
  opacity: 1;
  font-weight: 600;
  color: #FF7A00 !important;
  border-radius: 5px;
  border: 1px solid #FF7A00;
}
.wrapper .header-top .top-right .top-mode {
  padding: 9px 10px;
  display: inline-block;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.3);
  background-color: #323232;
}
.wrapper .header-top .top-right .top-langs {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  height: 35px;
  margin-left: 10px;
}
.wrapper .header-top .top-right .top-langs .lang-eng,
.wrapper .header-top .top-right .top-langs .lang-rus {
  line-height: 12px;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #323232;
  padding: 0 8px;
  margin-right: 10px;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  font-family: CocoSharp, Arial;
}
.wrapper .header-top .top-right .top-basket {
  margin-right: 10px;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  width: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background: #fff;
  border-radius: 5px;
}
.wrapper .header-top .top-right .top-basket i {
  color: #323232;
  position: relative;
}
.wrapper .header-top .top-right .top-basket i #count {
  position: absolute;
  font-size: 12px;
  background-color: #F28C0D;
  color: #ffffff;
  padding: 4px 6px;
  border-radius: 100%;
  top: -18px;
  right: -11px;
}
.wrapper .header-top .top-right .top-search {
  cursor: pointer;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  width: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background: #fff;
  border-radius: 5px;
}
.wrapper .header-top .top-right .top-search .search-icon {
  color: #323232;
}

.mobile-header {
  display: none;
}

.active {
  display: block !important;
}

.passive {
  display: none;
}

.nav-menu .nav-menu-left {
  float: left;
}
.nav-menu .nav-menu-left .menu-link-first {
  padding-left: 0 !important;
}
.nav-menu .nav-menu-left .menu-link {
  display: inline-block;
  padding: 30px 15px;
  font-size: 18px;
  color: #000;
  line-height: 18px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
}
.nav-menu .nav-menu-right .nav-tel,
.nav-menu .nav-menu-right .ibanking {
  color: #000;
  line-height: 20px;
  padding: 8px 15px;
  font-family: CocoSharp, Arial;
  font-size: 14px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 700;
}
.nav-menu .nav-menu-right .nav-tel {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
  height: 45px;
}
.nav-menu .nav-menu-right .nav-tel .phone-icon {
  margin-right: 10px;
  color: #FF6400;
}
.nav-menu .nav-menu-right .ibanking {
  padding: 14px 15px !important;
}
.nav-menu .nav-menu-right .ibanking .ibanking-icon {
  margin-right: 10px;
  color: #FF6400;
  font-size: 18px;
}

.footer {
  padding: 75px 0 60px;
}
.footer .footer-menu-list .first {
  line-height: 14px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.footer .footer-menu-list .footer-children {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
}
.footer .footer-menu-list .footer-children .child {
  font-size: 12px;
  color: #000;
  line-height: 35px;
  font-weight: 400;
}
.footer .footer-links {
  padding: 50px 0 20px;
  border-bottom: 1px solid #D6D9DB;
}
.footer .footer-links .footer-link {
  margin-right: 12px;
}
.footer .footer-links .footer-link i {
  font-size: 24px;
  color: #a1a1a1;
  text-align: center;
}
.footer .footer-links .footer-link .orange {
  color: #FF6400;
}
.footer .footer-bottom {
  padding-top: 30px;
}
.footer .footer-bottom .bottom-left .footer-text {
  line-height: 12px;
  font-size: 12px;
  font-weight: 500;
}
.footer .footer-bottom .bottom-left .diff-text {
  font-weight: 200;
  font-size: 12px;
  margin-top: 10px;
}
.footer .footer-bottom .bottom-right .adif {
  width: 60px;
  height: 45px;
}
.footer .footer-bottom .bottom-right .ehp {
  width: 94px;
  height: 45px;
}
.footer .footer-bottom .bottom-right a {
  margin-left: 30px;
}

.body-noscroll {
  overflow-y: hidden;
}

.search-content {
  background: rgba(0, 0, 0, 0.47);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  transition: all 0.4s ease-in-out;
}
.search-content .search-content-body {
  padding-top: 85px;
  padding-bottom: 50px;
  background: #fff;
  margin: auto;
}
.search-content .search-content-body .search-content-body-close {
  margin-bottom: 40px;
  text-align: center;
}
.search-content .search-content-body .search-content-body-close i {
  cursor: pointer;
  font-size: 16px;
}
.search-content .search-content-body .search-content-text {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
.search-content .search-content-body .search-content-field {
  width: 50%;
  margin: auto;
  position: relative;
  padding-bottom: 15px;
}
.search-content .search-content-body .search-content-field .inp {
  width: 100%;
  background: 0 0;
  font-family: CocoSharp, Arial;
  font-size: 14px;
  line-height: 40px;
  border-radius: 40px;
  color: rgba(0, 0, 0, 0.3);
  padding: 0 30px;
  border: 1px solid rgba(50, 50, 50, 0.1);
}
.search-content .search-content-body .search-content-field .field-btn {
  background: 0 0;
  border: none;
  position: absolute;
  top: 9px;
  right: 35px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.search-content .search-content-body .search-content-field .field-btn i {
  font-size: 24px;
  line-height: 24px;
  color: #FF6400;
}

.slider {
  max-height: 768px;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.slider .banner-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.slider .banner-wrapper img {
  width: 45%;
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
  filter: drop-shadow(-70px 20px 40px rgba(0, 0, 0, 0.24));
}
.slider .banner-wrapper .banner-info {
  width: 50%;
  float: right;
  height: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider .banner-wrapper .banner-info .banner-header {
  font-weight: 800;
  font-size: 34px;
  color: #fff;
  margin-bottom: 20px;
  line-height: normal;
  width: 80%;
}
.slider .banner-wrapper .banner-info .banner-desc {
  width: 80%;
  font-weight: 400;
  font-family: CocoSharp, Arial;
  font-size: 14px;
  color: #fff;
  margin-bottom: 40px;
  line-height: 25px;
}
.slider .banner-wrapper .banner-info .banner-btn a {
  margin-right: 10px;
  line-height: unset;
  display: inline-flex;
  color: #fff;
  border: 1px solid #fff;
  padding: 16px 25px;
  font-size: 14px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
  border-radius: 25px;
}

.statistic {
  padding: 30px 0;
  margin-bottom: 20px;
}
.statistic .statistic-box {
  padding: 40px 50px;
  text-align: center;
  background: #FAFAFA;
  border-radius: 10px;
}
.statistic .statistic-box .statistic-caption {
  line-height: 18px;
  font-size: 18px;
  color: #000;
  font-family: CocoSharp, Arial;
  font-weight: 700;
}
.statistic .statistic-box .statistic-value {
  font-size: 52px;
  line-height: normal;
  color: #FF6400;
  margin-bottom: 20px;
  margin-top: 15px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
}
.statistic .statistic-box .statistic-desc {
  line-height: 14px;
  font-weight: 400;
  color: #000;
  margin-top: -10px;
  margin-bottom: 45px;
  font-size: 14px;
  font-family: CocoSharp, Arial;
}
.statistic .statistic-box .statistic-link {
  line-height: 20px;
  background: #FF6400;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: CocoSharp, Arial;
  padding: 15px 45px;
  box-shadow: 0 10px 10px -10px rgba(255, 107, 0, 0.51);
  display: inline-block;
}

.ucard-section {
  padding: 35px 0 0;
}
.ucard-section .ucard-wrapper {
  background: #fafafa;
  border-radius: 10px;
  align-items: center;
  display: flex;
}
.ucard-section .ucard-wrapper .ucard {
  width: 45%;
  height: 400px;
  position: relative;
}
.ucard-section .ucard-wrapper .ucard img {
  height: 495px;
  position: absolute;
  top: -95px;
  right: 0;
  float: right;
}
.ucard-section .ucard-wrapper .ucard-text {
  width: 50%;
  padding-right: 20px;
  padding-left: 70px;
}
.ucard-section .ucard-wrapper .ucard-text .ucard-header {
  line-height: 28px;
  font-weight: 800;
  font-size: 28px;
  color: #FF6400;
  margin: 0 0 20px;
}
.ucard-section .ucard-wrapper .ucard-text .ucard-desc {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 1.43;
  margin-bottom: 40px;
  padding-right: 10px;
}
.ucard-section .ucard-wrapper .ucard-text .links {
  margin-bottom: 30px;
}
.ucard-section .ucard-wrapper .ucard-text .links .link {
  display: inline-block;
  margin-right: 10px;
}
.ucard-section .ucard-wrapper .ucard-text .links .link .link-img {
  width: 135px;
  height: 40px;
}
.ucard-section .ucard-wrapper .ucard-text .ucard-extras .btn-extra {
  display: inline-block;
  padding: 14px 30px;
  font-size: 14px;
  border-radius: 25px;
  font-weight: 600;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #969696;
  line-height: 16px;
}
.ucard-section .ucard-wrapper .ucard-text .ucard-extras .fill-orange {
  background: #FF6400;
  color: #fff !important;
}

.ubank-section {
  padding: 35px 0 0;
}
.ubank-section .ubank-wrapper {
  background: #fafafa;
  border-radius: 10px;
  align-items: center;
  display: flex;
}
.ubank-section .ubank-wrapper .ubank {
  width: 45%;
  height: 400px;
  position: relative;
}
.ubank-section .ubank-wrapper .ubank img {
  height: 495px;
  position: absolute;
  top: -95px;
  right: 0;
  float: right;
}
.ubank-section .ubank-wrapper .ubank-text {
  width: 50%;
  padding-right: 20px;
  padding-left: 70px;
}
.ubank-section .ubank-wrapper .ubank-text .ubank-header {
  line-height: 28px;
  font-weight: 800;
  font-size: 28px;
  color: #FF6400;
  margin: 0 0 20px;
}
.ubank-section .ubank-wrapper .ubank-text .ubank-desc {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 1.43;
  margin-bottom: 40px;
  padding-right: 10px;
}
.ubank-section .ubank-wrapper .ubank-text .links {
  margin-bottom: 30px;
}
.ubank-section .ubank-wrapper .ubank-text .links .link {
  display: inline-block;
  margin-right: 10px;
}
.ubank-section .ubank-wrapper .ubank-text .links .link .link-img {
  width: 135px;
  height: 40px;
}
.ubank-section .ubank-wrapper .ubank-text .ubank-extras .btn-extra {
  display: inline-block;
  padding: 14px 30px;
  font-size: 14px;
  border-radius: 25px;
  font-weight: 600;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #969696;
  line-height: 16px;
}
.ubank-section .ubank-wrapper .ubank-text .ubank-extras .fill-orange {
  background: #FF6400;
  color: #fff !important;
}

.exchange {
  padding: 30px 0;
}
.exchange .exchange-wrapper {
  overflow: hidden;
  padding: 40px 70px;
  background: #fafafa;
  border-radius: 10px;
}
.exchange .exchange-wrapper .exchange-header {
  line-height: 28px;
  font-weight: 800;
  font-size: 28px;
  color: #FF6400;
  margin: 0 0 20px;
}
.exchange .exchange-wrapper .exchange-box-wrapper-mobile {
  display: none;
}
.exchange .exchange-wrapper .exchange-box-wrapper {
  margin: 0;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exchange-item {
  position: relative;
  min-height: 1px;
  padding: 50px 62px;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exchange-item .exc-item-header {
  line-height: 18px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  padding-bottom: 10px;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exchange-item .exc-item-date {
  line-height: 12px;
  font-size: 12px;
  color: rgba(50, 50, 50, 0.5);
  margin-bottom: 30px;
  font-weight: 400;
  font-family: CocoSharp, Arial;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exchange-item .exc-item-body table thead {
  font-size: 14px;
  color: #ACB3B8;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
  font-family: CocoSharp, Arial;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exchange-item .exc-item-body table thead tr th {
  border-bottom: 1px solid #D6D9DB;
  padding-bottom: 11px;
  width: 33.3333333%;
  font-size: 12px;
  font-weight: 400 !important;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exchange-item .exc-item-body table tbody {
  line-height: 14px;
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exchange-item .exc-item-body table tbody tr td {
  width: 33.3333333%;
  padding: 15px 0;
  white-space: nowrap;
  color: #323232;
  font-weight: 700;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exchange-item .exc-item-body table tbody tr td i {
  font-size: 10px;
  margin-right: 4px;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exc-convertor {
  margin-bottom: 20px;
  width: 100%;
  background: #fff;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  border-radius: 10px;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exc-convertor .exc-cnv-header {
  margin-right: 80px;
  padding-top: 30px;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exc-convertor .exc-cnv-header .exc-header {
  line-height: 18px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  padding-bottom: 10px;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exc-convertor .exc-cnv-header .exc-date {
  line-height: 12px;
  font-size: 12px;
  color: rgba(50, 50, 50, 0.5);
}
.exchange .exchange-wrapper .exchange-box-wrapper .exc-convertor .exc-calc {
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(50, 50, 50, 0.1);
  margin-bottom: 10px;
  float: left;
  width: 280px;
  margin-right: 70px;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exc-convertor .exc-calc .exc-calc-inp {
  width: 60%;
  border: none;
  background: 0 0;
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 15px;
  color: #000;
  line-height: 47px;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exc-convertor .exc-calc .exc-calc-inp {
  display: inline-block;
  padding-right: 25px;
  position: relative;
}
.exchange .exchange-wrapper .exchange-box-wrapper .exc-convertor .exc-calc .exc-calc-inp .select-inp {
  z-index: 1;
  border: none;
  background: 0 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 12px;
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 47px;
  color: #000;
}

.news {
  padding: 0 0 30px;
}
.news .news-wrapper .news-card {
  background: #FAFAFA;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
  height: 100%;
}
.news .news-wrapper .news-card .news-name {
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 16px;
  color: #FF6400;
  display: block;
  overflow: hidden;
  line-height: normal;
  margin-bottom: 10px;
}
.news .news-wrapper .news-card .news-summary {
  font-weight: 200;
  font-size: 14px;
  color: #000;
  line-height: 23px;
  overflow: hidden;
}
.news .news-wrapper .news-card .news-date {
  line-height: 12px;
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 12px;
  color: rgba(50, 50, 50, 0.5);
  margin-top: 15px;
}
.news .news-wrapper .news-card:hover {
  background: #FF6400;
}
.news .news-wrapper .news-card:hover .news-name,
.news .news-wrapper .news-card:hover .news-summary,
.news .news-wrapper .news-card:hover .news-date {
  color: #fff;
}
.news .news-btn {
  margin-top: 25px;
  text-align: center;
}
.news .news-btn a {
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  border-radius: 25px;
  background: #FF6400;
  color: #fff;
  padding: 17px 25px;
  line-height: 16px;
}

.network .header-width {
  width: 30%;
}
.network .network-header {
  font-size: 28px;
  color: #FF6400;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 23px;
}
.network .network-summary {
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 70%;
}
.network .network-btn {
  font-size: 14px;
  display: inline-block;
  font-weight: 700;
  padding: 15px 40px;
  background: #FF6400;
  border-radius: 25px;
  color: #fff;
  box-shadow: 0 10px 10px -10px rgba(255, 107, 0, 0.51);
  margin-top: 23px;
  line-height: 20px;
  font-family: CocoSharp, Arial;
}
.network .network-location {
  padding: 0 15px;
  height: 320px;
  padding: 45px 65px;
  position: relative;
  overflow: hidden;
  background: #FAFAFA;
  border-radius: 10px;
}
.network .network-location .network-location-img {
  position: absolute;
  bottom: -3px;
  right: 0;
  overflow: hidden;
}
.network .network-location .network-location-img img {
  height: 250px;
}
.network .network-que {
  height: 320px;
  padding: 45px 65px;
  position: relative;
  background: #FAFAFA;
  border-radius: 10px;
}
.network .network-que .network-que-img {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.network .network-que .network-btn {
  margin-top: -3px;
}

.btn, #content .content-box a, #content .content-box #btn-submit,
#content .content-box #btn-clear, .empty-basket a, .commoncards-card .commoncards-text .button, .ucard .ucard-text .ucard-header .button {
  display: inline-block;
  padding: 14px 30px;
  font-size: 14px;
  line-height: 14px;
  background: #ff6400;
  border-radius: 25px;
  box-shadow: 0 10px 10px -10px rgba(255, 107, 0, 0.51);
  color: #fff !important;
  font-weight: 600;
}

.alert-box {
  background-color: #F28C0D;
  color: #ffffff;
  width: 15%;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 12px;
  overflow: auto;
  display: none;
}

.cards-header {
  margin-bottom: 30px;
  color: #FF6400;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}

.header-mt {
  margin-top: 55px;
}

.ucard {
  background: #fafafa;
  border-radius: 10px;
  padding: 50px 65px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.ucard .ucard-img-box {
  width: 33.33333333%;
}
.ucard .ucard-img-box .ucard-img {
  width: 315px;
  box-shadow: -15px 15px 30px 0 rgba(0, 0, 0, 0.24);
  padding: 0;
  border-radius: 15px;
  max-width: 100%;
}
.ucard .ucard-text {
  width: 66.66666667%;
  padding-left: 18px;
}
.ucard .ucard-text .ucard-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
}
.ucard .ucard-text .ucard-header .ucard-title {
  font-family: CocoSharp, Arial;
  font-weight: 800;
  font-size: 24px;
  color: #000;
  line-height: 30px;
}
.ucard .ucard-text .ucard-header .ucard-btn-desk {
  display: none;
}
.ucard .ucard-text .ucard-desc {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #000;
  margin-bottom: 25px;
}
.ucard .ucard-text .ucard-advs {
  display: flex;
  justify-content: space-between;
}
.ucard .ucard-text .ucard-advs .ucard-adv {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 33.3333333333%;
  text-align: center;
}
.ucard .ucard-text .ucard-advs .ucard-adv i {
  font-size: 35px;
  line-height: 65px;
  margin-right: 10px;
  color: #ff6b00;
}
.ucard .ucard-text .ucard-advs .ucard-adv .ucard-adv-txt {
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  color: #000;
  text-align: left;
}
.ucard .ucard-text .ucard-btn-mob {
  display: none;
}

.commoncards-card {
  display: flex;
  flex-direction: column;
  padding: 45px 65px;
  border-radius: 10px;
  background: #FAFAFA;
  margin-top: 30px;
}
.commoncards-card img {
  width: 315px;
  float: left;
  border-radius: 15px;
  box-shadow: -15px 15px 30px 0 rgba(0, 0, 0, 0.24);
}
.commoncards-card .commoncards-text {
  width: 100%;
  margin-top: 40px;
}
.commoncards-card .commoncards-text .commoncards-name {
  font-weight: 800;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 10px;
  color: #000;
  font-family: CocoSharp, Arial;
}
.commoncards-card .commoncards-text .commoncards-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 25px;
  height: 75px;
  color: #000;
}
.empty-basket {
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  padding: 15px 25px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  width: 1200px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.empty-basket i {
  background-color: #fff1e6;
  color: #ff6400;
  font-size: 24px;
  padding: 20px;
  border-radius: 50%;
}
.empty-basket span {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
}
.basket-card {
  background: #fafafa;
  border-radius: 10px;
  padding: 30px 65px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-card .basket-card-img-box {
  width: 33.33333333%;
}
.basket-card .basket-card-img-box .basket-card-img {
  width: 165px;
  box-shadow: -15px 15px 30px 0 rgba(0, 0, 0, 0.24);
  padding: 0;
  border-radius: 15px;
  max-width: 100%;
}
.basket-card .basket-card-text {
  width: 66.66666667%;
  padding-left: 18px;
}
.basket-card .basket-card-text .basket-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.basket-card .basket-card-text .basket-card-header .basket-card-title {
  font-family: CocoSharp, Arial;
  font-weight: 800;
  font-size: 18px;
  color: #000;
  line-height: 30px;
  width: 50%;
}

#content {
  background: radial-gradient(112.22% 112.22% at 75.1% -22.47%, #FFD689 0, #FFEDD4 100%);
}
#content .content-box {
  margin-top: 30px;
  padding: 15px 20px;
}
#content .content-box #txt {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 10px;
  padding-top: 10px;
  color: #000;
}
#content .content-box #total-amount {
  font-weight: 800;
  font-size: 18px;
  line-height: normal;
  margin-bottom: 10px;
  color: #000;
}
#content .content-box .buttons {
  display: flex;
  justify-content: space-between;
}
#content .content-box #btn-submit,
#content .content-box #btn-clear {
  border: 1px solid transparent;
}
.loc-active {
  border: 2px solid #FF6400 !important;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 25px;
  color: #FF6400 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.loc-active::after {
  background: #fff;
  position: absolute;
  bottom: -4px;
  transform: rotateZ(-45deg) translate(-50%);
  width: 16px;
  height: 16px;
  border-left: 2px solid #FF6400;
  border-bottom: 2px solid #FF6400;
  content: "";
  left: 50%;
}

.locations .loc-header {
  position: relative;
}
.locations .loc-header h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  color: #FF6400;
}
.locations .loc-header .locations-links {
  margin: 10px 0 15px;
}
.locations .loc-header .locations-links .locations-item {
  padding: 16px;
  line-height: 14px;
  font-size: 14px;
  color: #a1a1a1;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  border-radius: 25px;
  border: 2px solid #969696;
  font-weight: 700;
  font-family: CocoSharp, Arial;
}

.locations-content {
  margin-top: 20px;
}
.locations-content .content-wrapper {
  border-radius: 10px;
  position: relative;
  transition: 0.1s linear;
  cursor: pointer;
}
.locations-content .content-wrapper .content {
  color: #000;
  line-height: 33px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  padding: 35px 65px;
  background: #fafafa;
  border-radius: 10px;
  transition: 0.3s;
}
.locations-content .content-wrapper .content:hover {
  background: #ff6400;
  color: #fff;
}
.locations-content .content-wrapper .content:hover .locations-extra .clock-icon {
  color: #fff;
}
.locations-content .content-wrapper .content:hover .locations-extra .info-box {
  border-color: #fff;
}
.locations-content .content-wrapper .content:hover .locations-extra .info-box i {
  color: #fff;
}
.locations-content .content-wrapper .content .locations-name {
  display: table-cell;
  line-height: 20px;
  font-weight: 400;
  font-size: 20px;
  vertical-align: top;
  width: 40%;
}
.locations-content .content-wrapper .content .locations-name .title {
  font-weight: 700;
}
.locations-content .content-wrapper .content .locations-name .address {
  font-size: 14px;
  line-height: 21px;
}
.locations-content .content-wrapper .content .locations-extra {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 30%;
}
.locations-content .content-wrapper .content .locations-extra .time {
  font-weight: 500;
}
.locations-content .content-wrapper .content .locations-extra .clock-icon {
  font-size: 40px;
  color: #FF6400;
  margin-right: 20px;
}
.locations-content .content-wrapper .content .locations-extra .info-box {
  margin-right: 20px;
  padding: 8px 13px;
  border-radius: 50%;
  border: 4px solid #FF6400;
}
.locations-content .content-wrapper .content .locations-extra .info-box i {
  color: #FF6400;
}

#warning {
  border-radius: 10px;
  font-family: CocoSharp, Arial;
  font-weight: 400;
  line-height: 16px;
  background: #FF6400;
  padding: 25px 65px;
  font-size: 14px;
  color: #fff;
}
#warning .last-content {
  display: flex;
  align-items: center;
}
#warning .last-content i {
  font-size: 18px;
  margin-right: 10px;
}
#warning .last-content .text {
  line-height: 18px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
#warning .last-content .text p {
  margin: 0;
}

.hr-content .video {
  position: relative;
}
.hr-content .video .video-wrapper {
  border-radius: 10px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.hr-content .video .video-wrapper #player {
  cursor: pointer;
}
.hr-content .video .video-wrapper #player .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hr-content .video .video-wrapper #player .play-icon i {
  font-size: 65px;
  line-height: 65px;
  color: #fff;
}
.hr-content .hr-items {
  padding-top: 35px;
  margin-bottom: 30px;
}
.hr-content .hr-items .hr-item {
  height: 394px;
  background: #FAFAFA;
  border-radius: 10px;
  padding: 45px 50px;
  text-align: center;
  position: relative;
  transition: all 0.2s linear;
}
.hr-content .hr-items .hr-item:hover {
  background-color: #FF6400;
}
.hr-content .hr-items .hr-item:hover .hr-item-header {
  color: #fff;
}
.hr-content .hr-items .hr-item:hover .hr-item-desc {
  color: #fff;
}
.hr-content .hr-items .hr-item .icon img {
  border-radius: 45%;
}
.hr-content .hr-items .hr-item .hr-item-header {
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 20px;
}
.hr-content .hr-items .hr-item .hr-item-desc {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
}
.hr-content .ceos {
  display: flex;
  justify-content: space-between;
}
.hr-content .ceos .ceos-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 45px 65px;
  border-radius: 10px;
  background-color: #fafafa;
  height: 444px;
}
.hr-content .ceos .ceos-item .ceos-img {
  width: 105px;
  height: 105px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.hr-content .ceos .ceos-item .ceos-img img {
  width: 106px;
  height: 106px;
  border-radius: 50%;
}
.hr-content .ceos .ceos-item .ceo-name {
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  line-height: normal;
  margin-bottom: 5px;
}
.hr-content .ceos .ceos-item .ceo-position {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: normal;
}
.hr-content .ceos .ceos-item .ceo-desc {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 1.43;
  margin-top: 15px;
}
.hr-content .about {
  margin-top: 30px;
  background: #FAFAFA;
  border-radius: 10px;
  position: relative;
}
.hr-content .about .about-wrapper {
  padding: 45px 65px;
}
.hr-content .about .about-wrapper .about-header .title {
  font-family: CocoSharp, Arial;
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  color: #FF6400 !important;
}
.hr-content .about .about-wrapper .about-desc {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-top: 15px;
  line-height: 1.43;
}
.hr-content .benefits {
  padding-top: 30px;
}
.hr-content .benefits .benefits-wrapper {
  text-align: center;
}
.hr-content .benefits .benefits-wrapper .benefits-item {
  padding: 35px 45px;
  height: 200px;
  border-radius: 10px;
  background: #FF6400;
}
.hr-content .benefits .benefits-wrapper .benefits-item i {
  color: #fff;
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 15px;
}
.hr-content .benefits .benefits-wrapper .benefits-item .benefits-caption {
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  line-height: 1.43;
}
.hr-content .opportunities {
  margin-top: 50px;
}
.hr-content .opportunities .header {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  color: #FF6400;
}
.hr-content .opportunities .opp-box .opp-header {
  line-height: 20px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.hr-content .opportunities .opp-box .opp-desc {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 23px;
}

.login {
  height: 880px;
}
.login .login-wrapper .login-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  font-size: 14px;
  margin-top: 68px;
}
.login .login-wrapper .login-header .header-langs {
  padding-right: 50px;
}
.login .login-wrapper .login-header .header-langs a {
  padding: 4px;
  cursor: pointer;
  border-radius: 2px;
  color: #7c7c7c;
}
.login .login-wrapper .login-header .header-langs .select {
  font-weight: 700;
  border-bottom: 1px solid;
}
.login .login-wrapper .login-content {
  width: 1062px;
  min-height: 450px;
  height: auto !important;
  float: left;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.3);
}
.login .login-wrapper .login-content .content-left {
  width: 530px;
  min-height: 675px;
  height: auto !important;
  border-radius: 5px;
  float: left;
}
.login .login-wrapper .login-content .content-left .card-item {
  margin: 0 auto;
  width: 324px;
  margin-top: 103px;
  position: relative;
  transition: display 800ms ease-out 5ms;
}
.login .login-wrapper .login-content .content-left .card-item .card-img img {
  width: 96%;
  width: 108%;
  border-radius: 6px;
  box-shadow: 10px 10px 33px 0 rgba(0, 0, 0, 0.15);
}
.login .login-wrapper .login-content .content-left .card-item .card-info {
  padding-left: 10px;
  height: 200px;
}
.login .login-wrapper .login-content .content-left .card-item .card-info h4 {
  color: #3e3e3e;
  font-size: 20px;
  margin: 1.33em 0;
}
.login .login-wrapper .login-content .content-left .card-item .card-info p {
  margin: 1em 0;
  color: #9b9b9b;
  font-family: SourceSansPro;
}
.login .login-wrapper .login-content .content-left #tabmenu-dots {
  margin-top: 33px;
  text-align: center;
}
.login .login-wrapper .login-content .content-left #tabmenu-dots .dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: rgba(175, 168, 168, 0.55);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.login .login-wrapper .login-content .content-left #tabmenu-dots .dot-active {
  background-color: rgba(255, 100, 0, 0.8) !important;
}
.login .login-wrapper .login-content .content-right {
  width: 530px;
  min-height: 675px;
  height: auto !important;
  padding-top: 60px;
  border-radius: 5px;
  background-color: #fff;
  float: right;
  box-shadow: -8px 3px 12px 4px rgba(0, 0, 0, 0.08);
}
.login .login-wrapper .login-content .content-right .login-forms {
  float: left;
  width: 89%;
  padding-left: 40px;
}
.login .login-wrapper .login-content .content-right .login-forms .right-header h3 {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login .login-wrapper .login-content .content-right .login-forms .right-header h3 span {
  font-weight: bold;
  color: #3f3f3f;
  letter-spacing: 0;
  font-size: 23px;
}
.login .login-wrapper .login-content .content-right .login-forms .right-header h3 a {
  padding-right: 27px;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 17px;
}

.modal-content {
  z-index: 3;
  padding-top: 65px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content .forgot-modal {
  margin: auto;
  width: 470px;
  height: auto !important;
  display: table;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  animation: animatetop 0.4s;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-content .forgot-modal .modal-header {
  height: 53px;
}
.modal-content .forgot-modal .modal-header .modal-title {
  width: 80%;
  font-size: 20px;
  float: left;
  cursor: pointer;
  padding-left: 25px;
  padding-top: 14px;
  color: rgba(128, 128, 128, 0.75);
  font-weight: 700;
  padding-bottom: 12px;
}
.modal-content .forgot-modal .modal-header #close {
  float: right;
  padding: 3px 12px;
  font-size: 20px;
  cursor: pointer;
  color: rgba(128, 128, 128, 0.75);
}
.modal-content .forgot-modal .forgot-modal-body {
  margin-top: 25px;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs {
  width: 90%;
  margin: 0 auto;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input {
  position: relative;
  margin-bottom: 33px;
  text-align: left;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input img {
  top: 14px;
  position: absolute;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input input {
  font-size: 18px;
  padding: 10px 10px 10px 37px;
  display: block;
  width: 85%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  color: #6f6f6f;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input input:focus {
  outline: none;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input label {
  color: #999;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 25px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input .bar {
  position: relative;
  display: block;
  width: 95%;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input .bar::before {
  content: "";
  left: 50%;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input .bar::after {
  content: "";
  right: 50%;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input .bar::before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f47123;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input .bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f47123;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input .country-codes {
  position: absolute !important;
  left: 28px !important;
  top: 2px !important;
  height: 38px !important;
  border: none !important;
  width: 69px !important;
  font-size: 16px !important;
  padding: 0 !important;
  color: #000 !important;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input .selected {
  top: -20px;
  font-size: 14px;
  color: #e28116;
}
.modal-content .forgot-modal .forgot-modal-body .forgot-modal-inputs .input .small-desc {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #999;
}
.modal-content .forgot-modal .modal-footer {
  height: 61px;
  display: inline-block;
  width: 100%;
  margin-top: 39px;
}
.modal-content .forgot-modal .modal-footer .login-form-btn {
  background: #ff6400;
  text-align: left;
  float: right;
  width: 90%;
  cursor: pointer;
  margin-right: 5%;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .header {
    display: none;
  }
  .mobile-header {
    display: block !important;
    padding: 15px 0 16px;
    margin-top: 10px;
    height: 55px;
  }
  .mobile-header .mb-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-header .mb-header-wrapper .hamburger {
    margin-right: 35px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #f5f5f6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .mobile-header .mb-header-wrapper .hamburger i {
    color: #000;
  }
  .mobile-header .mb-header-wrapper .mb-header-logo img {
    width: 29px;
    height: 30px;
  }
  .mobile-header .mb-header-wrapper .mb-header-right {
    background: #f5f5f6;
    border: none;
    line-height: 45px;
    display: inline-flex;
    align-items: center;
    height: 45px;
    padding: 8px 20px;
    border-radius: 25px;
  }
  .mobile-header .mb-header-wrapper .mb-header-right span {
    font-family: CocoSharp, Arial;
    font-weight: 700;
    font-size: 14px;
    color: #000 !important;
  }
  .mobile-header .mb-header-wrapper .mb-header-right i {
    color: #ff6b00;
  }
  .mobile-menu {
    background: #fafafa;
    height: calc(100vh - 55px);
  }
  .mobile-menu .mb-menu-wrapper {
    flex-direction: column;
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-options {
    transform: scale(1) translateY(0);
    opacity: 1;
    transition-delay: 70ms;
    margin-bottom: 20px;
    display: inline-flex;
    line-height: 20px;
    font-family: CocoSharp, Arial;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    height: 35px;
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-options .option-active {
    opacity: 1;
    font-weight: 600;
    color: #FF7A00 !important;
    border-radius: 5px;
    border: 1px solid #FF7A00 !important;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-options .mb-menu-option {
    line-height: 12px;
    font-family: CocoSharp, Arial;
    font-weight: 400;
    font-size: 12px;
    color: #323232;
    background: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-menus {
    width: 100%;
    text-align: center;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-menus .menu-link {
    transform: scale(1) translateY(0);
    opacity: 1;
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    font-size: 20px;
    display: block;
    color: #000;
    line-height: 18px;
    font-family: CocoSharp, Arial;
    font-weight: 700;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-menus:nth-child(1) {
    transition-delay: 0.21s;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-menus:nth-child(2) {
    transition-delay: 0.28s;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-menus:nth-child(3) {
    transition-delay: 0.35s;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-menus:nth-child(1) {
    transition-delay: 0.42s;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-menus:nth-child(5) {
    transition-delay: 0.49s;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-menus:nth-child(6) {
    transition-delay: 0.56s;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-second-menus {
    transform: scale(1) translateY(0);
    opacity: 1;
    transition-delay: 0.56s;
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    width: 100%;
    text-align: center;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-second-menus a {
    border: none;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 0;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-footer {
    transform: scale(1) translateY(0);
    opacity: 1;
    transition-delay: 0.14s;
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    text-align: center;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-footer .top-mode {
    padding: 0 10px;
    display: inline-flex;
    border-radius: 5px;
    box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.3);
    background-color: #323232;
    height: 35px;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-footer .top-search {
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
    width: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: #fff;
    border-radius: 5px;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-footer .top-search i {
    color: #323232;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-footer .top-basket {
    margin-left: 10px;
    box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
    width: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: #fff;
    border-radius: 5px;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-footer .top-basket i {
    color: #323232;
    position: relative;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-footer .top-basket i #count {
    position: absolute;
    font-size: 12px;
    background-color: #F28C0D;
    color: #ffffff;
    padding: 4px 6px;
    border-radius: 100%;
    top: -18px;
    right: -11px;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-footer .top-langs {
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    height: 35px;
    margin-left: 10px;
  }
  .mobile-menu .mb-menu-wrapper .mb-menu-footer .top-langs .lang-eng,
  .mobile-menu .mb-menu-wrapper .mb-menu-footer .top-langs .lang-rus {
    line-height: 12px;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #323232;
    padding: 0 8px;
    margin-right: 10px;
    height: 35px;
    background: #fff;
    border-radius: 5px;
    font-family: CocoSharp, Arial;
  }
  .slider {
    margin-top: 16px;
  }
  .statistic .statistic-box {
    padding: 25px 0;
  }
  .statistic .statistic-box .statistic-caption {
    font-size: 14px;
  }
  .statistic .statistic-box .statistic-value {
    font-size: 32px;
  }
  .statistic .statistic-box .statistic-desc {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .ucard-wrapper {
    display: block !important;
  }
  .ucard-wrapper .ucard {
    height: 170px !important;
    width: auto !important;
  }
  .ucard-wrapper .ucard .ucard-img {
    width: auto;
    float: right !important;
    max-width: 90% !important;
    height: auto !important;
    right: 40px !important;
  }
  .ucard-wrapper .ucard-text {
    width: 100% !important;
    float: none;
    padding-right: 20px !important;
    padding-left: 30px !important;
    padding-top: 10px;
    margin-top: 20px !important;
  }
  .ucard-wrapper .ucard-text .ucard-header {
    font-size: 20px !important;
    line-height: normal !important;
    margin-bottom: 10px !important;
  }
  .ucard-wrapper .ucard-text .ucard-desc {
    margin-bottom: 20px !important;
    font-size: 12px !important;
    line-height: normal !important;
  }
  .ucard-wrapper .ucard-text .links {
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-between;
  }
  .ucard-wrapper .ucard-text .links a {
    margin-right: 3px !important;
  }
  .ucard-wrapper .ucard-text .links a img {
    width: 90px !important;
    height: 25px !important;
  }
  .ucard-wrapper .ucard-text .ucard-extras {
    display: block !important;
  }
  .ucard-wrapper .ucard-text .ucard-extras .btn-extra {
    font-size: 12px !important;
    padding: 14px 42px !important;
    margin-bottom: 20px;
  }
  .ucard-wrapper .ucard-text .ucard-extras .fill-orange {
    padding: 14px 140px !important;
  }
  .ucard-wrapper .ucard-text #ubank .ubank-img {
    width: 290px !important;
    height: auto !important;
  }
  .ubank-wrapper {
    display: block !important;
  }
  .ubank-wrapper .ubank {
    height: 170px !important;
    width: auto !important;
  }
  .ubank-wrapper .ubank .ubank-img {
    width: auto;
    float: right !important;
    max-width: 60% !important;
    height: auto !important;
    right: 40px !important;
    top: -51px !important;
  }
  .ubank-wrapper .ubank-text {
    width: 100% !important;
    float: none;
    padding-right: 20px !important;
    padding-left: 30px !important;
    padding-top: 10px;
    margin-top: 20px !important;
  }
  .ubank-wrapper .ubank-text .ubank-header {
    font-size: 20px !important;
    line-height: normal !important;
    margin-bottom: 10px !important;
  }
  .ubank-wrapper .ubank-text .ubank-desc {
    margin-bottom: 20px !important;
    font-size: 12px !important;
    line-height: normal !important;
  }
  .ubank-wrapper .ubank-text .links {
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-between;
  }
  .ubank-wrapper .ubank-text .links a {
    margin-right: 3px !important;
  }
  .ubank-wrapper .ubank-text .links a img {
    width: 90px !important;
    height: 25px !important;
  }
  .ubank-wrapper .ubank-text .ubank-extras {
    display: block !important;
  }
  .ubank-wrapper .ubank-text .ubank-extras .btn-extra {
    font-size: 12px !important;
    padding: 14px 42px !important;
    margin-bottom: 20px;
  }
  .ubank-wrapper .ubank-text #ubank .ubank-img {
    width: 290px !important;
    height: auto !important;
  }
  .exchange-box-wrapper {
    display: none;
  }
  .exchange-wrapper {
    padding: 20px 30px !important;
  }
  .exchange-wrapper .exchange-header {
    font-size: 20px !important;
    line-height: normal;
    margin-bottom: 15px !important;
    font-weight: 800;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile {
    display: block !important;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-box-mob {
    display: block;
    width: auto;
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-box-mob .exc-item {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    font-family: CocoSharp, Arial;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    color: #a1a1a1;
    border-radius: 25px;
    border: 2px solid #969696;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-box-mob .exc-mob-active {
    border: 2px solid #ff6400;
    margin-bottom: 20px;
    border-radius: 25px;
    color: #ff6400 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-box-mob .exc-mob-active:after {
    position: absolute;
    bottom: -4px;
    transform: rotateZ(-45deg) translate(-50%);
    width: 16px;
    height: 16px;
    border-left: 2px solid #ff6400;
    border-bottom: 2px solid #ff6400;
    content: "";
    left: 50%;
    background: #fafafa;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-content-mob {
    margin-bottom: 20px;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-content-mob .exc-item-date {
    padding-bottom: 30px;
    height: auto;
    font-size: 12px;
    line-height: 18px;
    color: rgba(50, 50, 50, 0.5);
    margin-bottom: 30px;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-content-mob .exc-item-body table {
    width: 100%;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-content-mob .exc-item-body table thead {
    font-size: 14px;
    color: #acb3b8;
    line-height: 18px;
    text-align: left;
    font-weight: 400;
    font-family: CocoSharp, Arial;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-content-mob .exc-item-body table thead tr th {
    border-bottom: 1px solid #d6d9db;
    padding-bottom: 11px;
    width: 33.3333333%;
    font-size: 12px;
    font-weight: 400 !important;
    padding-right: 60px !important;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-content-mob .exc-item-body table tbody {
    line-height: 14px;
    font-family: CocoSharp, Arial;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-content-mob .exc-item-body table tbody tr td {
    width: 33.3333333%;
    padding: 15px 0;
    white-space: nowrap;
    color: #323232;
    font-weight: 700;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-convertor {
    height: auto;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    border-radius: 10px;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-convertor .exc-header {
    line-height: 18px;
    font-family: CocoSharp, Arial;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    padding-bottom: 10px;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-convertor .exc-date {
    padding-bottom: 30px;
    height: auto;
    font-size: 12px;
    line-height: 18px;
    color: rgba(50, 50, 50, 0.5);
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-convertor .exc-calc {
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(50, 50, 50, 0.1);
    margin-bottom: 10px;
    float: left;
    width: 100%;
    margin-right: 0;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-convertor .exc-calc .exc-calc-inp {
    width: 60%;
    border: none;
    background: 0 0;
    font-family: CocoSharp, Arial;
    font-weight: 700;
    font-size: 15px;
    color: #000;
    line-height: 47px;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-convertor .exc-calc .exc-calc-inp {
    display: inline-block;
    padding-right: 25px;
    position: relative;
  }
  .exchange-wrapper .exchange-box-wrapper-mobile .exc-convertor .exc-calc .exc-calc-inp .select-inp {
    z-index: 1;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding-right: 12px;
    font-family: CocoSharp, Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 47px;
    color: #000;
  }
  .network-location-img {
    width: 40% !important;
  }
  .network-location-img img {
    height: 200px !important;
  }
  .network-header {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  .network-summary {
    width: 70% !important;
    font-size: 12px !important;
  }
  .network-btn {
    padding: 13px 35px !important;
    line-height: normal !important;
    font-size: 12px !important;
  }
  .footer {
    padding: 0 !important;
  }
  .footer .footer-menu,
  .footer .footer-bottom {
    display: none !important;
  }
  .footer .footer-links {
    display: flex;
    justify-content: center;
  }
  .cards-wrapper {
    margin-top: 20px;
  }
  .cards-wrapper .cards-header {
    font-size: 22px;
    line-height: normal;
  }
  .cards-wrapper .ucard {
    padding: 30px 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .cards-wrapper .ucard .ucard-img-box {
    max-width: 100%;
    width: 100% !important;
    margin-bottom: 20px;
    position: relative;
    min-height: 1px;
    padding: 0;
  }
  .cards-wrapper .ucard .ucard-img-box img {
    max-width: 100% !important;
  }
  .cards-wrapper .ucard .ucard-text {
    width: 100%;
    padding: 0;
  }
  .cards-wrapper .ucard .ucard-text .ucard-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .cards-wrapper .ucard .ucard-text .ucard-header .ucard-title {
    font-size: 18px;
    margin-bottom: 0;
  }
  .cards-wrapper .ucard .ucard-text .ucard-header .ucard-btn-desk {
    display: none;
  }
  .cards-wrapper .ucard .ucard-text .ucard-desc {
    text-align: center;
    font-family: CocoSharp, Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
  }
  .cards-wrapper .ucard .ucard-text .ucard-adv {
    width: 33.3333333333%;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }
  .cards-wrapper .ucard .ucard-text .ucard-adv .ucard-adv-txt {
    text-align: center;
    line-height: 12px;
    font-family: CocoSharp, Arial;
    font-weight: 700;
    font-size: 12px;
    color: #000;
  }
  .cards-wrapper .ucard .ucard-text .ucard-btn-mob {
    display: block;
    display: inline-block;
    padding: 14px 30px;
    font-size: 14px;
    line-height: 14px;
    background: #ff6400;
    border-radius: 25px;
    box-shadow: 0 10px 10px -10px rgba(255, 107, 0, 0.51);
  }
  .cards-wrapper .ucard .ucard-text .ucard-btn-mob a {
    color: #fff !important;
    font-weight: 600;
  }
  .cards-wrapper .commoncards-card {
    width: 100%;
    padding: 25px 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
  }
  .cards-wrapper .commoncards-card .commoncards-img {
    width: auto;
    max-width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .cards-wrapper .commoncards-card .commoncards-text {
    text-align: center;
    margin-top: 10px;
  }
  .cards-wrapper .commoncards-card .commoncards-text p {
    font-weight: 600;
    font-family: CocoSharp, Arial;
  }
  .empty-basket {
    margin-top: 20px;
  }
  .empty-basket span {
    font-size: 11px;
    margin-left: 15px;
  }
  .basket-card {
    padding: 30px 25px;
  }
  .basket-card .basket-card-header .basket-card-title {
    font-weight: 600 !important;
    font-size: 14px !important;
  }
  .basket-card .basket-card-header .quantity,
  .basket-card .basket-card-header p,
  .basket-card .basket-card-header i {
    line-height: 30px;
  }
  .content-box .buttons {
    flex-direction: column;
  }
  .content-box .buttons button {
    margin-bottom: 20px;
  }
  .content-box .buttons #btn-continue a {
    padding: 14px 108px !important;
  }
  .locations-wrapper {
    margin-top: 20px;
  }
  .locations-wrapper .loc-header h1 {
    font-size: 22px;
    line-height: normal;
  }
  .locations-wrapper .loc-header .locations-links {
    width: auto !important;
    display: flex !important;
    align-items: flex-start !important;
    overflow-x: auto !important;
  }
  .locations-wrapper .loc-header .locations-links .locations-item {
    display: block;
    margin-top: 0;
    padding: 10px 20px;
    margin-right: 10px;
    font-family: CocoSharp, Arial;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
  }
  .locations-wrapper .content-wrapper .content {
    flex-wrap: wrap;
    padding: 20px 40px;
    justify-content: space-between;
  }
  .locations-wrapper .content-wrapper .content .locations-name {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    display: block;
    font-size: 14px;
  }
  .locations-wrapper .content-wrapper .content .locations-name .address {
    font-size: 12px;
  }
  .locations-wrapper .content-wrapper .content .locations-extra {
    width: 48%;
    padding: 0;
    border: none;
    font-size: 10px;
    line-height: normal;
  }
  .locations-wrapper .content-wrapper .content .locations-extra .clock-icon {
    margin-right: 10px;
    font-size: 25px !important;
  }
  .locations-wrapper .content-wrapper .content .locations-extra .info-box {
    padding: 4px 8px;
    margin-right: 10px;
    border: 2px solid #FF6400;
  }
  .locations-wrapper #warning {
    padding: 20px 40px;
  }
}/*# sourceMappingURL=style.css.map */